/* layout header*/

header {
  padding-top: 80px;
}

.header__img {
  height: 400px;
}

.header__text1 {
  font-size: $large;
  padding-bottom: 2em;
  color: $blue-main;
  animation: logo 4s;
}


@keyframes logo {
  0% { opacity: 0; }
}
