
.us__text1 {
  text-align: center;
  padding: 2rem 0;
}

.us_text2 {
  line-height: 50px;
}

.us__container {
  text-align: justify;
}

.us__card {
  margin: 50px 0;
}

.us__title {
  padding: 2rem 0;
  text-align: center;
  border: 3px solid $blue-main;
}

.us__body {
    border: 3px solid $blue-main;
}
