/*abstracts variables*/
// Color Scheme

// First Color Scheme
$white: #FFF;
$platinum: #E6E7E7;
$gray-main: #58595b;

// Second Color Scheme
$black: #000;
$raisin-black: #222323;
$nickel: #6C6E70;

//Third Color Scheme
$blue-dark: #1C4457;
$blue-eletric: #043C8B;
$blue-main: #057EB3;

//Font Family
$roboto: 'Roboto', sans-serif;
$orbitron: 'Orbitron', sans-serif;

// Typography

// Font Weight
$regular: 400;
$bold: 700;
$black: 900;

// Font Sizes
$xx-large: 35px;
$x-large: 25px;
$large: 20px;
$medium: 16px;
$small: 12px;
